
.image{
    height: 400px;
    background-size: cover;
    background-position: top;
    transition: ease-in-out 8s;  
}
.image:hover{
    background-position: bottom;
}
/* .image1{
    background-image: url('https://i.ibb.co/27BYxfQ/Home-Hotel-Booking.png');
}
.image2{
    background-image: url('https://i.ibb.co/27BYxfQ/Home-Hotel-Booking.png');
}
.image3{
    background-image: url('https://i.ibb.co/27BYxfQ/Home-Hotel-Booking.png');
} */